<template>

    <div class="container">
        <div class="container d-flex justify-content-between">
            <h2>Listes des menu</h2>
            <button @click="add=true" class="btn btn-success">Ajouter un menu</button>
        </div>

        
        
                <div class="album py-2 bg-light">
                    
                <div v-if="add==false" class="container">
                    <div class="container-fluid d-flex mb-4">
                        <button @click="categorieId=null"  class="btn btn-secondary">All</button>

                        <button @click="categorieId=categorie.id" v-for="categorie in options" :id="categorie.id" :key="categorie.id" class="btn btn-secondary">{{categorie.name}}</button>
                     </div>
                
                <div v-if="categorieId!=null" class="row" >
                    <div v-for="menu in MenuFilter" :key="menu.id" class="col-md-3">
                        <div  class="card mb-4 box-shadow" style="height: 20em;">
                            <img class="card-img-top "  :src="'/storage/'+menu.image" alt="" style="height:10em;">
                            <div class="card-body">
                                <p class="card-title h4 text-truncate">{{menu.name}}</p>
                                <p v-html="menu.description" class="card-text  text-truncate" style="max-width: 250px;"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button  @click="remove" :id="menu.id" class="btn btn-sm btn-outline-secondary">Supprimer</button>
                                    <button @click="changeLocation" :id="menu.id" type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div v-else class="row">
                    <div v-for="menu in menus" :key="menu.id" class="col-md-3">
                        <div  class="card mb-4 box-shadow" style="height: 20em">
                            <img class="card-img-top"  :src="'/storage/'+menu.image" style="height:10em;" alt="">
                            <div class="card-body">
                                <p class="card-title h4 text-truncate">{{menu.name}}</p>

                                <p v-html="menu.description" class="card-text  text-truncate" style="max-width: 250px;"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button @click="remove" :id="menu.id" type="button" class="btn btn-sm btn-outline-secondary">Supprimer</button>
                                    <button @click="changeLocation" :id="menu.id" type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
        <form v-if="add">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label >Nom</label>
                    <input v-model="name"  class="form-control" requierd >
                </div>
                <div class="form-group col-md-3">
                    <label >Prix</label>
                    <input v-model="price"  class="form-control" id="inputPassword4" placeholder="Password" required>
                </div>

                <div class="form-group col-md-3">
                    <label for="inputState">Categorie</label>
                    <select v-model="categorie_id" class="form-control" requierd>
                        <option v-for="option in options" :key="option.id" v-bind:value="option.id">
                            {{ option.name }}
                        </option>
                    </select>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <editor
                        api-key="no-api-key"
                        v-model="description"
                        :init="{
                            height: 500,
                            menubar: false,
                        }"
                        />
                </div>
                

                <div class="form-group">
                    <input @change="getFile" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                            
            </div>

            <button @click.prevent="create" type="submit" class="btn btn-success">Ajouter</button>
            <button @click="add=false" type="button" class="btn btn-danger">Annuller</button>
        </form>

    </div>
    
</template>

<script>

import axios from 'axios';

import Editor from '@tinymce/tinymce-vue'

let url = '/menus';

export default {

    components:{ 
        'editor': Editor
    },

    data: () => ({
        name: '',
        description: '',
        price : 0,
        categorie_id: 1,
        file: null,
        menus: [],   
        options: [],
        add: false,
        categorieId : null,
    }),

    computed:{
        MenuFilter(){
            return this.menus.filter(item=>item.categorie_id ==this.categorieId)
        }
    },
    
    methods:{
        getMenu(){
            axios.get(url)
            .then(response => {
            this.menus.push(...response.data.menu)
            this.options.push(...response.data.categories)

        })
        .catch(error => console.log(error))
        },

        create(e){

            let data = new FormData()
            data.append('file', this.file, this.file.name)
            data.append('name', this.name)
            data.append('description', this.description)
            data.append('price', this.price)
            data.append('categorie_id', this.categorie_id)

            let settings = { headers: { 'content-type': 'multipart/form-data' } }

            axios.post(url, data, settings)
            .then(response => { 
                this.menus.unshift(response.data)
                this.add =! this.add
                this.name=''
                this.description=''
            })
            .catch(error => console.log(error))

        },

        update(){
            axios.put(url, {})
            .then(response => { 
                getItem = this.menus.findIndex(item => item.id == data.id)
                this.menus[getItem].name = data.name
            })
            .catch(error => console.log(error))

        },

        remove(e){
            let id = e.currentTarget.id
            axios.delete(`${url}/${id}`, {})
            .then(response => {
                this.menus = this.menus.filter(item => item.id != response.data)
                
            })
            .catch(error => console.log(error))

        },

        getFile(e){
            this.file = e.target.files[0]
        },

        changeLocation(e){
            let id = e.currentTarget.id
            window.location.href = `/admin/edit/${id}`
        }
    },

    mounted(){
        this.getMenu();
    }
    
    

}
</script>

<style  scoped>


 

</style>