<template>

    <div class="container">
        <div class="container d-flex justify-content-between">
            <h2>Listes des menu</h2>
            <button @click="add=true" class="btn btn-success">Ajouter un menu</button>
        </div>
                
        <form v-if="menu!=null">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label >Nom</label>
                    <input v-model="menu.name"  class="form-control" requierd >
                </div>
                <div class="form-group col-md-3">
                    <label >Prix</label>
                    <input v-model="menu.price"  class="form-control" id="inputPassword4" placeholder="Password" required>
                </div>

                <div class="form-group col-md-3">
                    <label for="inputState">Categorie</label>
                    <select v-model="menu.categorie_id" class="form-control" requierd>
                        <option v-for="option in options" :key="option.id" v-bind:value="option.id">
                            {{ option.name }}
                        </option>
                    </select>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <editor
                        api-key="no-api-key"
                        v-model="menu.description"
                        :init="{
                            height: 500,
                            menubar: false,
                        }"
                        />
                </div>

                <div class="form-group">
                    <input @change="getFile" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                            
            </div>

            <button @click.prevent="update" type="submit" class="btn btn-primary">Modifier</button>
            <a href="/admin" type="submit" class="btn btn-danger">Annuler</a>

        </form>

        

    </div>
    
</template>

<script>

import axios from 'axios';
import Editor from '@tinymce/tinymce-vue'

let url = '/menus';

export default {

    components: {
        'editor': Editor
    },

    data: () => ({
        menu: null,
        options: []
    }),

    computed:{
        
    },
    
    methods:{
        getMenu(){

            let id =window.location.pathname.split("/").pop()
             
            axios.get(`${url}/${id}`)
            .then(response => {
            this.menu = response.data.menu
            this.options.push(...response.data.categories)
        })
        .catch(error => console.log(error))
        },

       

        update(){
            let id = this.menu.id
            axios.put(`${url}/${id}`, {menu : this.menu})
            .then(response => { 
                window.location.href = '/admin'

            })
            .catch(error => console.log(error))

        },

        remove(e){
            let id = e.currentTarget.id
            axios.delete(`${url}/${id}`, {})
            .then(response => {
                this.menus = this.menus.filter(item => item.id != response.data)
                
            })
            .catch(error => console.log(error))

        },

        getFile(e){
            this.file = e.target.files[0]
        }
    },

    
    mounted(){
        this.getMenu();
    }
    
    

}
</script>

<style  scoped>


 

</style>