<template>

    <div class="container  d-flex justify-content-center">
        <div class="card " style="height:38em; width: 23rem;position: relative;overflow-x:auto">

            <!-- Block Navigation Bar-->
            <div >
                <nav id="navigator" class="navbar fixed-top " style="position: absolute;z-index:5" :class="{navbaropen: opened}">
                  <span class="open-slide">
                      <a v-if="!overlay" href="#" @click="opened = !opened">
                      <div>
                          <div class="bar" :class="{topopen: opened}"></div>
                          <div class="bar" :class="{midopen: opened}"></div>
                          <div class="bar" :class="{botopen: opened}"></div>
                      </div>
                      </a>
                      <div class="container"  v-else>
                        <a @click="overlay=false" href="#" >
                          <i class="fa fa-arrow-left"></i>
                        </a>
                        <p class="h5 mb-0 text-white"></p>
                      </div>
                  </span>
                
                </nav>
                <div id="side-menu" class="side-nav " :class="{sidenavopen: opened}">
                    <a  @click="categorieId=categorie.id, opened=false" v-for="categorie in categories" :key="categorie.id" href="#">{{categorie.name}}</a>
                </div>
            </div>
            

            <div class="card-body p-0 mt-5">
              
              <!-- Overlay Block-->
              <div id="overlay" :class="{ 'd-block': overlay }">
                <div>
                    <div  class="card m-3 box-shadow">
                      <img class="card-img-top "  :src="'/storage/'+openedMenu.image" alt="" style="height:15em;">
                      <div class="card-body">
                          <p class="card-title h4 ">{{openedMenu.name}}</p>
                          <p v-html="openedMenu.description" class="card-text" style="word-break: break-word;max-height: 6em;overflow: hidden;"></p>
                          <div class="d-flex justify-content-end">
                              <span>{{openedMenu.price}} €uro</span>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
                
              <!-- Menu items Block with condition-->
                <div v-if="categorieId ==null" :class="{'d-none': overlay}">
                    <div v-for="menu in menus" :key="menu.id" class="row mt-3 m-0 justify-content-between rounded-lg shadow bg-grey p-0">
                        
                        <div class="container-fluid d-flex w-100 p-0 m-2  position-relative">
                            <img class="card-img  rounded-circle " :src="'/storage/'+menu.image" alt="" style="width:45px; height:45px;" >
                            <div class="container-fluid ">
                                <h2 class="card-title text-nowrap text-dark text-truncate" style="max-width: 250px;">{{menu.name}}</h2>
                                <h6 v-html="menu.description" class="card-subtitle mb-2 text-muted d-inline-block text-truncate" style="max-width: 250px;"></h6>
                                <div class="container ">
                                    <span> <strong>{{menu.price}} €</strong>
                                    </span>
                                </div>
                            </div>  
                                <a @click="itemMenu(menu.id)" href="#" class=" stretched-link"></a>
                          
                        </div>
                    </div>
                </div>

                <div v-else :class="{'d-none': overlay}">
                    <div v-for="menu in MenuFilter" :key="menu.id" class="row mt-3 m-0 justify-content-between rounded-lg shadow bg-grey p-0">
                        
                        <div class="container-fluid d-flex w-100 p-0 m-2 position-relative">
                            <img class="card-img  rounded-circle " :src="'/storage/'+menu.image" alt="" style="width:45px; height:45px;" >
                            <div class="container-fluid ">
                                <h2 class="card-title text-nowrap text-dark text-truncate" style="max-width: 250px;">{{menu.name}}</h2>
                                <h6 v-html="menu.description" class="card-subtitle mb-2 text-muted d-inline-block text-truncate" style="max-width: 250px;"></h6>
                                <div class="container ">
                                    <span> <strong>{{menu.price}} €</strong>
                                    </span>
                                </div>
                            </div>  
                            <a @click="itemMenu(menu.id)" href="#" class=" stretched-link"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>            
    </div>
    
</template>

<script>

import axios from 'axios';

let url = 'menus';

export default {

    data: () => ({
        menus: [],
        categories:[],
        opened: false,
        categorieId : null,
        overlay: false,
        openedMenu: []
    }),

    computed:{
        MenuFilter(){
            return this.menus.filter(item=>item.categorie_id ==this.categorieId)
        }
    },

     methods:{
        getMenu(){
            axios.get(url)
            .then(response => {
            this.menus.push(...response.data.menu)
            this.categories.push(...response.data.categories)

            })
            .catch(error => console.log(error))
        },

        itemMenu(id){
          this.overlay = true
          this.openedMenu = {...this.menus.filter(item=>item.id == id)[0]}
        }
    },

    mounted(){
        this.getMenu()
    }
}
</script>

<style  scoped>
 
body{
  font-family: "Arial", Serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.navbar{
  background-color: #009688;
  overflow: hidden;
  height: 63px;
}

.navbaropen{
  background-color: #009688;
  overflow: hidden;
  height: 63px;
  margin-left: 250px;
}

.navbar a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar ul{
  margin: 8px 0 0 0;
  list-style: none;
}

.navbar a:hover{
  background-color: #ddd;
  color: #000;
}

.side-nav{
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #009688;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
}

.sidenavopen{
  height: 100%;
  width: 250px;
  position: absolute;
  z-index: 7;
  top: 0;
  left: 0;
  background-color: #009688;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover{
  color: #fff;
}

.side-nav .btn-close{
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

#main{
  transition: margin-left 0.3s;
  padding: 20px;
  overflow: hidden;
  width: 100%;
}

.mainopen{
  transition: margin-left 0.3s;
  padding: 20px;
  overflow: hidden;
  width: 100%;
  margin-left: 250px;
}

nav{
  transition: margin-left 0.3s;
}

.bar{
  display: block;
  height: 5px;
  width: 35px;
  background: #ffffff;
  margin: 5px auto;
}

.midopen{
  width: 0;
}
.bar{
  transition: all .3s ease;
}
.topopen{
  transform: translateY(10px) rotateZ(45deg);
}
.botopen{
  transform: translateY(-10px) rotateZ(-45deg);
}

#overlay {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 2;
  cursor: pointer;
}

</style>